# 大二进制
*.zip
*.tar.gz
*.rar
*.bin
*.safetensors
*.pt
*.pth
*.onnx
dataset/
model_weights/

# IDE
.idea/
.vscode/
*.iml

# gradle/maven
build/
target/
*.log

# java heap dump
*.hprof
# jvm crash dump
*.mdmp